@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-display: "Playfair Display", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  
  --color-emerald-850: #033a29; /* A custom deep emerald */
  --color-stone-850: #23201f;
}

@layer base {
  body {
    @apply font-sans;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-display text-[#1B4332];
  }
}
